<div class="header">
    <h1>HoA</h1>

    <div class="menu-items">

    
        <%= link_to 'Forms', users_forms_path, class: 'btn btn-menu' %>
        <%= link_to 'Announcements', users_announcements_path, class: 'btn btn-menu' %>
        <%= link_to 'About Us', users_about_us_path, class: 'btn btn-menu' %>
        <%= link_to 'By Laws', users_bylaws_path, class: 'btn btn-menu' %>
        <%= link_to 'My Profile', profile_path, class: 'btn btn-menu' %>

        
    </div>

    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
</div>

<div class="featured-img" />

