<h1>Admin Dashboard</h1>
<%= link_to 'User List', admin_user_approvals_path, class: 'btn btn-primary' %><br>
<%= link_to 'Complaints', admin_complaints_path, class: 'btn btn-primary' %><br>
<%= link_to 'View Payments', admin_payments_path, class: 'btn btn-primary' %>
<%= link_to 'Announcements', admin_announcements_path, class: 'btn btn-primary' %><br>
<%= link_to 'Forms', admin_form_approvals_path, class: 'btn btn-primary' %><br>
<%= link_to 'About Us', edit_admin_about_us_path, class: 'btn btn-primary' %><br>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
