<h1><%= @form.title %></h1>

<%= form_with model: @form_response, url: users_forms_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :form_id, value: @form.id %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit Form', class: 'btn btn-primary' %>
<% end %>


